*{
    box-sizing: border-box;
    font-family: fantasy;
   background-color: rgb(245, 194, 99);
    

}
.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20pt;
    padding: 20pt;
   
}
.intro{
    display: flex;
    text-align: center;
    padding: 20pt;
    margin-left: 20pt;
   color: brown;
    
}
#log{
    height: 10pc;
    width: 10pc;
    padding: 20pt;
  
}
.pics{
    display: flex;
    padding: 20pt;
    
}
.pics1{
    display: flex;
    padding: 20pt;
}
img{
    height: 20pc;
    width: 25pc;
    margin-top: 20pt;
    padding: 20pt;
}
button{
    height: 30pt;
}
p{
    font-size: 12pt;
}
h3{
   font-style: bold;
}
.pic11, .pic22, .pic33, .pic44, .pic55, .pic66{
    display: flex;
    
    
}