*{
    font-family: fantasy;
   
    

}
.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20pt;
    padding: 20pt;
   
}
#lo{
    height: 25pc;
    width: 20pc;

}
.intro{
    display: flex;
    text-align: center;
   align-content: center;
    padding: 20pt;
    margin-left: 30pt;
    background-image: linear-gradient(45deg,black,beige);

    
}
#log{
    height: 10pc;
    width: 10pc;
    padding: 20pt;
  
}
.chose{
    display: flex;
    flex-direction: column;
 }
.pics{
    display: flex;
    padding: 20pt;
    background-image: linear-gradient( 100deg, beige,black) ;

    
}

.pi img{
    height: 25pc;
    width: 25pc;
    padding: 20pt;
   
}
button{
    height: 30pt;
}
p{
    font-size: 12pt;
}
h3{
   font-style: bold;
}
.pic11{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

#numberOne{
    height: 50pt;
    width: 80pt;
}

#checkout{
    width: 30pc;
    font-size: 25pt;
    font-style: italic;
    color: brown;
    border-style: solid;
   margin-left: 100pt;
   border-color: blue;
    
}
#checkout:hover{
    fill: brown;
    color: black;
}

#userdets{
    display: flex;
    flex-direction: column;
}
#check{
    color: brown;
    background-color: yellow;
    padding: 20pt;
    margin-top: 20pt;
}